body {
  padding: 0;
  margin: 0;
}
.App {
  width: 100%;
  height: auto;
  
}

.content{
  width: 100%;
  position: absolute;
  top:80px;
}

.reservation-container{
 margin: 40px;
}
.reservation-container svg{
 cursor: pointer;
}

@media screen and (max-width: 600px) {
  .reservation-container{
    margin: 0px;
   }
}
.reservation-container svg{
  color: red;
}